

*

.container {
    max-width: 1072px;
}

/* .delay {
  display: none !important;
} */

/* Definindo a animação de rotação infinita */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



h3 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.3px;
    color: var(--subtitulo);
}

/* texto apos video */

#posvideo {
  margin-bottom: 30px;
  background: linear-gradient(135deg, rgba(26, 214, 253, 0.1) 0%, rgba(0, 0, 0, 0) 77%), linear-gradient(135deg, rgba(232, 131, 148, 0.1) 0%, rgba(0, 0, 0, 0) 84%), linear-gradient(135deg, rgba(33, 33, 33, 0.5) 0%, rgba(21, 21, 21, 0) 100%), #000000;
  border-radius: 6px;
  padding: 30px 30px;

  width: 100%;
  position: relative;
}

#posvideo::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 6px;
  padding: 1px; 
  background:linear-gradient(to right,rgba(255, 255, 255, 1),rgba(255, 255, 255, 0)); 
  -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
          pointer-events: none;
}

#posvideo > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.text-gradient-orange {
    background: var(--gradient-orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.text-gradient-blue {
    background: var(--gradient-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent
}

.btn-nm-primary {
    color: #fff;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    text-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
    background: linear-gradient(94.17deg, #00C1EB 0%, #0094FF 100%), #D9D9D9;
    border-radius: 329px;
    padding: 16px 31px;
    margin: 0 auto;
    filter: drop-shadow(0px 1px 21px rgba(0, 201, 255, 0.47));
    transition: 0.5s;
    text-align: center;
    position: relative;

    min-width: 418px;
}

.btn-nm-primary::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 329px; 
  padding: 2px; 
  background:linear-gradient(to right,rgba(255, 255, 255, 1),rgba(255, 255, 255, 0)); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
          pointer-events: none;
}

.btn-nm-primary:hover {
    transform: scale(1.05);
    transition: 0.5s; 
    color: #fff;
}

.btn-nm-primary a:hover {
    color: #fff;
}

.btn-nm-secondary {
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    padding: 15px 30px;
    border-radius: 147px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #fff;
    transition: 0.5s;
    color: #fff;
    position: relative;
}

.btn-nm-secondary a {
  color: #fff;
}

.btn-nm-secondary:hover {
  transform: scale(1.05);
  transition: 0.5s; 
  color: #fff;
}

.btn-nm-secondary a:hover {
  color: #fff;
}


  
  